footer {
  width: 100%;
  height: fit-content;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 0;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  gap: 1rem;
}
.footer-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 80rem;
  height: fit-content;
  padding: 2rem 0;
  margin-top: 5rem;
  margin-bottom: 0;
  margin-inline: auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-decoration: none;
  justify-content: center;
}
.footer-copyright {
  display: flex;
  width: 100%;
  max-width: 80rem;
  height: fit-content;
  padding: 0 0 2rem 0;
  margin-bottom: 0;
  margin-inline: auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-decoration: none;
  justify-content: center;
  color: var(--gray-color);
  font-size: 18px;
  text-align: center;
}

.footer-container .footer-left {
  flex-basis: 25%;
  width: 100%;
  display: flex;
}
.footer-container .footer-left .footer-logo {
  font-size: xx-large;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: sans-serif;
  font-weight: 500;
  width: 100%;
}
.footer-container .footer-right {
  flex-basis: 75%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-inline: 1rem;
}

.footer-container .footer-right .footer-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  flex: 1;
  height: 100%;
  padding-inline: 1rem;
}

.footer-container .footer-right .footer-list .footer-title {
  font-size: x-large;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0;
  color: black;
  padding-bottom: 1rem;
  font-family: sans-serif;
  width: 100%;
  display: flex;
}

.footer-container .footer-right .footer-list ul {
  list-style: none;
  padding: 0;
  color: black;
  padding: 2px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  flex: 1;
  width: 100%;
}

.footer-container .footer-right .footer-list li {
  list-style: none;
  padding: 0;
  color: var(--gray-color);
  padding-block: 0.7rem;
  font-weight: normal;
  width: 100%;
  display: flex;
}

.footer-container .footer-right .footer-list li a {
  list-style: none;
  color: var(--gray-color);
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.footer-container .footer-right .footer-list .footer-contact {
  list-style: none;
  padding: 0;
  color: var(--black);
  padding: 2px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
}

.footer-container .footer-right .footer-list .footer-contact p {
  list-style: none;
  padding: 0;
  color: var(--gray-color);
  padding-block: 0.7rem;
  font-weight: normal;
  list-style: none;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  width: 100%;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-container .footer-left .footer-logo {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }
  .footer-container .footer-right {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
    padding-block: 1rem;
  }
  .footer-container .footer-right .footer-list {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
    padding-block: 0.6rem;
  }

  .footer-container .footer-right .footer-list h5,
  .footer-container .footer-right .footer-list ul,
  .footer-container .footer-right .footer-list li,
  .footer-container .footer-right .footer-list a,
  .footer-container .footer-right .footer-list p,
  .footer-container .footer-right .footer-list .footer-contact p,
  .footer-container .footer-right .footer-list .footer-title,
  .footer-copyright {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
    padding-block: 0.6rem;
  }
}
